In [1]:
#this is a comment
print("Welcome to Python ")

Welcome to Python

In [3]:
'''
this is a multline string in python

'''

'\nthis is a multline string in python\n\n'

In [4]:
a = 34
b = 5.6

print(a, " " , b)

34   5.6

In [5]:
type(a)

int

In [6]:
print(type(b))

<class 'float'>

In [7]:
a = 4 + 3j
type(a)

complex

In [8]:
a = 'a'
type(a)

str

In [11]:
a = 'coding is fun '
print(a)
a = "coding is fun"
print(a)
a = """
-------------
coding is fun
coding is fun

"""
print(a)

coding is fun
coding is fun

-------------
coding is fun
coding is fun

In [12]:
# variables are buckets that are used to store information

In [15]:
a,b = True,False
print(type(a))
print(a+b)

<class 'bool'>
1

In [18]:
a = 20
b = 10

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print("%.4f"%(a/b))
print(2**2)
print(a%b)

30
10
200
2.0
2
2.0000
4
0

In [19]:
a = 12
if a%6 == 0:
  if a%12 == 1:
    print("PP")
  elif a%12 == 2:
    print("QQ")
  else:
    print("Hi u were ment to be here")

Hi u were ment to be here

In [20]:
sign = 1

if sign > 0:
  print(sign)
if sign == 1:
  print("once again told u to use if elif ")
if sign < 0:
  print("Think Boiiiiii")

1
once again told u to use if elif

In [22]:
a = 10
while True:
  if a == 0:
    break
  print(a)
  a -= 1

10
9
8
7
6
5
4
3
2
1

In [24]:
for i in range(1,11):
  print(11 - i)

10
9
8
7
6
5
4
3
2
1

In [25]:
for i in "python":
  print(i)

p
y
t
h
o
n

In [27]:
for i in range(0,20,2):
  print(i)

0
2
4
6
8
10
12
14
16
18